body {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

img {
  width: 100%;
  height: 100vh;

  

  position: relative;

  background-size: cover;
}


.svgMask {
  width: 100%;
  height: 100%;

  position: absolute;
  top: 0;
  left: 0;
}


.carousel-caption {
    margin-bottom: 17%;
 h1{
   font-size: 80px;
   opacity: 0.7;
   color: white;
 }
}
 

.heroImage{
  position: relative;
 a{
    text-decoration: none;
    &:hover{
      color: #fff;
    }
  }
}
.topleft{
  position: fixed;
  left: 5%;
  top: 5%;
  color: rgb(94, 94, 94);
  z-index: 3;
  font-weight: bold;
  text-transform: capitalize;
}
.topright{
  position: fixed;
  right: 5%;
  top: 5%;
  color: rgb(94, 94, 94);
  z-index: 3;
  font-weight: bold;
  text-transform: capitalize;

}
.bleft{
  position: absolute;
  left: 5%;
  bottom: 5%;
  color: rgb(94, 94, 94);
  z-index: 1;
  font-weight: bold;
  text-transform: capitalize;
}

.br1{
  position: absolute;
  right: 5%;
  bottom: 5%;
  color: rgb(94, 94, 94);
  z-index: 1;
  font-weight: bold;
  text-transform: capitalize;
}
.br2{
  position: absolute;
  right: 17%;
  bottom: 5%;
  color: rgb(94, 94, 94);
  z-index: 1;
  font-weight: bold;
  text-transform: capitalize;
}
.br3{
  position: absolute;
  right:25%;
  bottom: 5%;
  color: rgb(94, 94, 94);
  z-index: 1;
  font-weight: bold;
  text-transform: capitalize;
}



.buddy-buddy{
  width: 100%;
}




.mtnbuddy-buddy{
  font-weight: 700;
  position: absolute;
  color: #fff;
  right: 30%;
  top: 40%;
  font-size: 90px;
  opacity: 0.8;
  text-transform: capitalize;
  word-spacing: 35px;
 
}

img{
  width: 700px;
}